.aboutMe__section {
  margin: 140px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1660px;
}

.aboutMe__container {
  width: 70%;
  padding: 3rem;
  background-color: hsla(var(--p-600-code), 0.1);
  border-radius: 3rem;
}

.aboutMe__content_container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3rem;
  padding: 3rem 0;

  & h1 {
    color: var(--p-600);
  }

  & p {
    color: var(--n-600);
  }
}

.CTA {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90%;

  & a {
    padding: 12px 12px;
    width: 240px;
    max-width: 80%;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s ease;
  }
}

.primaryButton {
  color: white;
  background-color: var(--p-600);

  &:hover {
    background-color: var(--p-700);
  }
}

.outlineButton {
  border: 1px solid var(--p-600);
  color: var(--p-600);
  background-color: transparent;
}
